<div>
    <nav class="navbar sticky-top navbar-dark bg-dark text-center">
        <h2 class="text-white"><b>{{title}}</b></h2>
    </nav>
    <div class="mainClass">
        <section class="cardBody">
            <button class="btn btn-primary" (click)="toggleDetails()">
                Display Details
            </button>
            <p class="mt-4 para" *ngIf="isDetailDisplay">{{detail}}</p>
            <p class="mt-3"><b>Button Clicked Count: {{count}} times</b></p>

            <div class="input-group inputBox">
                <div class="input-group-prepend">
                  <span class="input-group-text"><b>Enter items to display</b></span>
                </div>
                <input class="form-control" type="text" [(ngModel)]="item"/>
            </div>
            <button class="btn btn-primary mt-3" (click)="listItem(item)">
                Add Items
            </button>
            <div class="mt-3">
                <p *ngFor="let element of itemList; index as i">
                    <span [ngClass]="(i + 1) % 5 == 0 ? 'elementColor' : ''">
                      {{ element }}
                    </span>
                </p>
            </div>
        </section>
    </div>
</div>